/* -*- mode: css -*-

https://developer.gnome.org/gtk3/stable/chap-css-overview.html
https://developer.gnome.org/gtk3/stable/chap-css-properties.html

AND FOR F*CKINGs SAKE: USE https://wiki.gnome.org/action/show/Projects/GTK/Inspector?action=show&redirect=Projects%2FGTK%2B%2FInspector
*/

.output-label, .input-label {
    font: 10px "monospace";
    font-weight: bold;
}

.input-label {
    color: #000080;
}
.collapsed-label {
    font: 10px "monospace";
    color: #000080;
}
.highlighted-label {
    color: #0000ff;
    font: 12px "monospace";
    font-weight: bolder;
}

.output-label {
    color: #800000;
}

.input-textview text {
}

.active-input-textview text {
    background-color: rgb(100%, 70%, 70%);
}
.highlighted-input-textview text {
    background-color: rgb(95%, 95%, 100%);
}

.output-textview text {
}

.search-not-found {
    background-color: rgb(100%, 60%, 60%);
}
